<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>应用体验师</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/static/dist/1.0.2/common.css" type="text/css">
</head>
<body>
    <p class="g6 fs-m mt24 tac">暂时不支持android,请使用ios设备访问!</p>
</body>
</html>
