<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>应用体验师</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/static/dist/1.0.2/common.css" type="text/css">
</head>
<body class="about">
    <header class="h1 mt12">
        关于我们
    </header>
    <section class="h2">
        简介
    </section>
    <div class="cb">
        <p class="indent">
        "应用体验师"是移动APP的抢先试用平台，用户下载APP试玩体验，即可获得奖励。人人都是“应用体验师"。
        </p>
        <div class="tac mt12">
            <img class="icon" src="/static/img/icon@2x.png" width="128" height="128" alt="应用体验师">
            <a target="_blank" class="db tac mt12" href="http://shang.qq.com/wpa/qunwpa?idkey=17cab56beb3aba3df5f75802176ab8ca1580be370051e092f566204570783578"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="应用体验师官方群" title="应用体验师官方群"></a>
        </div>
    </div>

    <script src="/static/dist/1.0.2/global.js"></script>
</body>
</html>
