<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>应用体验师</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/static/dist/1.0.2/common.css" type="text/css">
</head>
<body>
    <header class="gb3 fs-l tac">
        联系我们
    </header>
    <div id="content" class="fs-m gb6">
        <p>客服QQ: 670954550</p>
        <p>官方QQ群：366524869</p>
    </div>
    <script src="/static/lib/weixin.js"></script>
</body>
</html>
