<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>应用体验师</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/static/dist/1.0.2/common.css" type="text/css">
</head>
<body class="help">
    <!-- <header class="h1 mt12"> -->
    <!--     使用帮助 -->
    <!-- </header> -->
    <!-- <section class="h2"> -->
    <!--     说明 -->
    <!-- </section> -->
    <!-- <div class="cb"> -->
    <!--     <p class="indent"> -->
    <!--     应用体验师是一个崭新的移动APP的抢先试用平台，您下载APP试玩体验，即可获得现金奖励。人人都是“应用体验师”。 -->
    <!--     </p> -->
    <!-- </div> -->
    <!-- <section class="h2"> -->
    <!--     体验流程 -->
    <!-- </section> -->
    <img src="/static/img/help.png" style="width: 100%;"/>

    <script src="/static/dist/1.0.2/global.js"></script>
</body>
</html>
