<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>应用体验师</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/static/dist/1.0.2/common.css" type="text/css">
</head>
<body class="question">
    <header class="h1">
        常见问题
    </header>
    <section class="question-box">
        <p class="h2">（1）为什么通过应用体验师能赚钱？</p>
        <p class="cb indent">应用体验师中的应用由广告商提供的，只要用户安装了应用，广告商将会付给我们不等的广告费，我们将大部分的广告收益分给大家。比如广告商分给我们1元，我们将分给用户0.9元，这回大伙明白了吧，应用体验师团队相信，好的服务才是最本质！</p>
        <p class="h2">（2）如何通过应用体验师来赚钱？</p>
        <p class="cb indent">进入应用体验师微信号，根据我们的提示进行应用下载的任务，你就可以赚到钱，简简单单每天十分钟，轻松赚到几十块。你可以通过赚取的收入兑换Q币、手机充值卡，支付宝直接提现，因为这笔钱是你该得的，还不快快去赚钱哟。</p>
        <p class="h2">（3）兑换及在线咨询</p>
        <p class="cb indent"> 一般情况下我们将在一天内（24小时）给你兑换，由于你的收益来源于广告商，部分广告商需隔天才能确认数据，这个请您谅解广告收益到账的任何问题，请加我们的客服QQ: 670954550进行咨询或者添加我们的QQ群：366524869</p>
        <p class="h2">（4）关于任务和奖励获取</p>
            <div class="cb">
                <ul>
                    <li>应用安装后你没有根据提示完成任务，比如需要试玩3分钟，或者是需要安装并且打开才算一次有效会导致得不到奖励。</li>
                    <li>广告商还没有和我们反馈数据，请稍等10分钟再次进入看看</li>
                    <li>你的手机已经安装过同款应用，将不再给予奖励</li>
                    <li>重新下载安装</li>
                </ul>
            </div>


        <p class="h2">（5）每天新任务</p>
        <p class="cb indent"> 应用体验师每天都会有新的任务发布，建议大家每天早晚各打开一次应用体验师，看看有没新任务出来，一般情况下是限量的，先到先得</p>


        <p class="h2">（6）下载应用如何节省流量?</p>
        <p class="cb indent pb12">建议大家请用wifi下载应用。使用手机流量套餐的用户请自己把握套餐的剩余额度。应用的大小不等，在下载之前的页面可以看到应用大小。</p>
    </section>

    <script src="/static/dist/1.0.2/global.js"></script>
</body>
</html>
